extends base.pug 

block scripts
  script(src='/static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/about.css

block content 

    div.page
        h1.main Features of our Academy 

        div.container 
            h2.sub-heading Rules to be followed
            p.subpara Please come to class in proper dance attire.  
                | Dress code will be enforced.  All hair must be pulled back in either a pony tail or bun and should be neatly groomed for class and all performances.
                | Label all shoes, dance bag etc with students name. Use the restroom before class. 
                | No jewelry allowed as it can be harmful to the student.  No street shoes allowed on the dance floor. No gum or food in the studio. Water only allowed in dance area; water breaks will be given by the instructor.Please inform instructor of any previous dance injuries and take class at your own risk. Visible tattoos and body art will not be permitted.  
                | Dance Works Academy is not responsible for lost or stolen valuables. Children leaving with an adult other than a parent must inform the teacher at drop off. 
            h2.sub-heading Prices based on performance
            p.subpara Overall Recognition will be awarded in Solo, Duet, Trio, Small, Large, and Super Group/Line, and Production Divisions, within each overall age division and competitive level.   The 1st Place overall scoring group routine in each overall age division and competitive level will be awarded a Top Score Dance Machine Award, divisions will go out to a Top 10 for Top Score Recognition.  If there are 25 or more in a division then top score results may extend past a Top 10.
            h2.sub-heading Fitness and diet
            p.subpara Our health is our most valuable wealth. A healthy person is someone free from diseases and can perform physical activities without getting tired. A person’s physical fitness measures health and fitness. It can be achieved through proper nutrition and careful eating habits. Nutrition plays a vital role because we are what we eat. Health cannot be ignored because our body needs to be healthy to function correctly. Eating fruits and vegetables boosts one’s health. While eating junk food hurts our health. Regular exercises can help us to build a healthy and fit body that would be resistant to diseases.
            h2.sub-heading Passionate and regular
            p.subpara When you do something that you love, you would never get tired of sharpening your skills and getting the best out of you and for others. My passion is painting. I love painting and it gives me so much pleasure when I am with my paints and brushes. It gives color and life to many pictures around you.
            h2.sub-heading Energy and enthusiasm
            p.subpara Enthusiasm or passion means throwing ourselves into a relationship, goal, dream, or activity. ... A simple meaning for the word enthusiasm is to have a keen interest. It means you demonstrate an eagerness and a joy that fills you with energy. If you approach any task without enthusiasm, the task will be laborious.

    footer#footer 
        | Copyright © 2019 ShivanshDanceAcademy.com | All rights reserved 