doctype html
html
  head
    title Shivansh Dance Academy 
    block scripts
    block style 
      
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/logo.png")
                | SDA 
            li #[a(href="/home") Home]
            li #[a(href="/about") About Us] 
            li #[a(href="/events") Events] 
            li #[a(href="/contact") Contact Us] 

    block content
      