.container{
    /* border: 2px solid red; */
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cont1{
    /* border: 3px solid #c92727; */
    width: 44%;
    margin-left:40px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 245, 242);

}

.listitems{
    padding: 6px;
    font-size: 19px;
    color: rgb(92, 91, 91);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont2{
    /* border: 3px solid #c92727; */
    width: 44%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 245, 242);
}

.card-heading{
    color: #c92727;
    border-bottom: 2px solid #c92727;
    margin-bottom: 10px; 
    font-family: 'baloo bhai 2';
    padding-left: 7px;
    padding-top: 4px;
}
