@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 12px 0px;
    color: #c92727;
    border-bottom: 3px solid #c92727;
}

.container{
    min-height: 77vh;
    margin-top: 40px;
    /* border: 3px solid #c92727; */
    width: 60%;
    margin: 15px auto ;
    padding: 20px;
    border-radius: 90px;
    background-color: rgb(255, 245, 242);
}

.container h1{
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
}
.myform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    display: block;
    width: 50%;
    padding: 9px;
    margin: 3px;
    font-size: 15px;
    border: 3px solid #c92727;;
    border-radius: 10px;
    outline: none;
}

.btn{
    padding: 6px 18px;
    font-size: 18px;
    border: 2px solid #c92727;;
    border-radius: 12px;
    color: white;
    background-color: #c92727;;
    width: 165px;
    cursor: pointer;
    outline: none;
    margin: 25px;
}